tensorflow
pandas
dvc

mlflow
notebook
numpy
matplotlib
seaborn
python-box
pyYAML
tqdm
ensure
joblib
types-pyYAML
scipy
Flask
Flask-Cors
gdown
# Data versioning and pipeline
dvc[s3]
gunicorn
# AWS SDK
aiobotocore[boto3]==2.10.0
botocore
boto3
s3transfer

ujson

-e .